
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.j {
  margin-top: 200px;
  display: flex;
  text-align: center;
  align-items: center;
}
